
#modal_bg {
    position: absolute;
    height: 1300px;
    top: 0px;
    background-color: rgba(0.7,0.6,0.9,0.9);
    width: 119%;
    display:none;
}
#modal{    
    width: 1411px;
    height: 751px;
    position: absolute;
    top: 285px;
    left: 270px;
    background-color: rgba(237, 158, 121, 0.94);
    
}
.modal_content{
    display: flex;
    justify-content:space-around;
    margin-top: 158px;
    width: 1367px;
    height: 728px;
    left: 0px;
    position: absolute;
    top: -22px;
}

#exit {
    height: 68px;
    width: 62px;
    right: -1334px;
    position: relative;
    top: 4px;
    font-size: 72px;
    font-weight: bold;
}
#exit:hover{
    color: #c91a1a;
    cursor: pointer;
}
.renseignement_box label{
    font-size:35px;
}
.renseignement{
display: flex;
flex-direction: column;
align-items: end;
font-size: 32px;
height: 500px;
justify-content: space-around;
}
.renseignement input{
    width: 182px;
    height: 30px;
    margin: 10px 10px 10px 0px;
}
